---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Nav from '@/components/Nav.astro';
import Hero from '@/components/Hero.astro';
---
<BaseLayout title="Developear | Desarrollo de Software y Estrategia Digital">
  <Nav />
  <main class="relative">
    <Hero />
  </main>
</BaseLayout>
