---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Nav from '@/components/Nav.astro';
import ResultsSection from '@/components/Results.astro';
import Footer from '@/components/Footer.astro';
---
<BaseLayout title="Casos de Éxito | Developear - Desarrollo de Software y Estrategia Digital">
  <Nav />
  <main class="relative">
    <ResultsSection />
  </main>
  <Footer />
</BaseLayout>
